body {
    padding: 0;
    margin: 0;
}

.form {
    text-align: center;
}

button {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 200px;
    height: 35px;
    font: 20px/25px Verdana Arial;
    border-radius: 5px;
}

.questions {
    display: block;
    width: 880px;
    padding: 30px 0 0 0;
    font-size: 20px;
    margin: 0 auto;
}

.question {
    display: inline-block;
    width: 198px;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0 -1px -1px 0;
    padding: 10px;
    position: relative;
}

.n {
    font-size: 8px;
    display: inline-block;
    width: 12px;
    text-align: center;
    color: #ccc;
    float: left;
    position: relative;
    top: -11px;
    left: -11px;
}

.A, .B {
    width: 40px;
    display: inline-block;
    text-align: center;
}

.N {
    width: 30px;
    display: inline-block;
    text-align: center;
}

.O {
    width: 20px;
    display: inline-block;
    text-align: center;
}

.PageNext {
    page-break-after: always;
}

.bottom {
    width: 850px;
    margin: 10px auto 0;
    font: 12px/14px Verdana Arial;
}

.question {
    width: 88px;
    height: 70px;
    margin: 0 -1px -8px 0;
    font-family: monospace;
}

.x {
    position: absolute;
    text-indent: -9999px;
    background: black;
    height: 1px;
    left: 15px;
    top: 55px;
    width: 70px;
}

.f {
    font-size: 16px;
    position: absolute;
    text-align: right;
    left: 35px;
    letter-spacing: 0.2em;
    top: 10px;
}

.s {
    font-size: 16px;
    position: absolute;
    text-align: right;
    left: 35px;
    letter-spacing: 0.2em;
    top: 30px;
}




.o {
    font-size: 16px;
    top: 30px;
    position: absolute;
    left: 20px;
}

