table {
    margin: 15px 0 0 0;
    background: #000;
}

td {
    background: #fff;
    padding: 2px 10px;
    text-align: right;
    font: 12px/12px Helvetica;
}

td.minus {
    color: green;
}

td.plus {
    color: red;
}

input.w20 {
    width: 20px;
}

input.w40 {
    width: 40px;
}

input.w50 {
    width: 50px;
}

input.w60 {
    width: 60px;
}

input.w80 {
    width: 80px;
}

.form {
    font: 12px/18px Helvetica;
}

.form div {
    padding: 4px 0;
}
