#title {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    width: 600px;
    margin: auto;
}

#basket {
    width: 600px;
    height: 300px;
    transition: background-color 1s, height 0s;
    border: 2px dashed #333;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #333
}

ul {
    list-style-type: none;
    padding: 0;
}

#basket.dragover {
    background: rgb(210, 186, 255);
    border-style: dotted;
}

#readme {
    color: #600;
}

#chart {
    width: 90%;
    min-width: 1200px;
    height: 600px;
    margin: auto;
}

#chart>div {
    margin: auto !important;
}

#report {
    width: 800px;
    margin: auto;
    font-size: 14px;
    line-height: 1.6;
}

.saySomeThing {
    color: #800;
    font-size: 16px;
    line-height: 1.9;
}
